svg {

background: url("http://vignette2.wikia.nocookie.net/ssb/images/d/d8/WiiU_SuperSmashBros_Stage07_Screen_01.jpg/revision/latest?cb=20140409191328");
background-size: 100%;
background-position: 0px -20px;
display: block;
margin: auto;
}
